<script
  src="https://kit.fontawesome.com/9377e6dfb1.js"
  crossorigin="anonymous"
></script>
<div class="my-5 px-3">
  <h1>
    Your Deleted Courses
  </h1>
  <table class="table table-hover my-5">
    <thead>
      <tr>
        <th scope="col">
          #
        </th>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Description
        </th>
        <th scope="col">
          Deleted At
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">
            {{sum @index 1}}
          </th>
          <td>
            {{this.name}}
          </td>
          <td>
            {{this.description}}
          </td>
          <td>
            {{this.deletedAt}}
          </td>
          <td>
            {{! RESTORE }}
            <i class="fas fa-undo btn-restore" data-id="{{this._id}}"></i>
            {{! PERMENTLY DELETE }}
            <a
              data-toggle="modal"
              data-target="#deleteCourseModal"
              data-id={{this._id}}
              data-name="{{this.name}}"
            >
              <i class="fas fa-trash-alt icon"></i>
            </a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" style="text-align: center;">
            No course in trash
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{! MODAL CONFIRM DELETE }}
<div class="modal" tabindex="-1" role="dialog" id="deleteCourseModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          WARNING PERMENTLY DELETE
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </div>
      {{!  }}
      <div class="modal-body">
        <p>
          Do you want to permently delete course
          <span class="font-weight-bold"></span>
          ?
        </p>
      </div>
      {{!  }}
      <div class="modal-footer">
        <input type="submit" class="btn btn-danger" value="Delete" />
        {{!  }}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
{{! FORM }}
<div>
  <form method="POST" action="" id="form-restore"></form>
  <form method="POST" action="" id="form-delete"></form>
</div>
<script>
  document.addEventListener('DOMContentLoaded',function(){

    var btnRestore=$('.btn-restore')
    var formRestore=$('#form-restore')
    

    $('#deleteCourseModal').on('show.bs.modal', function(){
        var button = $(this) 
        var id = button.data('id')
        var name = button.data('name')

        console.log(button.html())
        $('.modal-body p span').text(' '+name)
      })


    btnRestore.click(function(e) {
      e.preventDefault()

      var id = $(this).data('id')
      formRestore.attr('action', '/courses/' + id + '/restore?_method=PATCH')
      formRestore.submit()
    });
    
  })
</script>