<script
  src="https://kit.fontawesome.com/9377e6dfb1.js"
  crossorigin="anonymous"
></script>
<div class="my-5 px-3">
  <h1>
    My Courses
  </h1>
  <a href="/me/deleted/courses">My Deleted Courses</a>
  <table class="table table-hover my-5">
    {{! TITLE }}
    <thead>
      <tr>
        <th scope="col">
          #
        </th>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Description
        </th>
        <th scope="col">
          Created At
        </th>
        <th scope="col">
          Updated At
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    {{! BODY }}

      <tbody>
        {{#each courses}}
        <tr>
          <th scope="row">
            {{sum @index 1}}
          </th>
          <td>
            {{this.name}}
          </td>
          <td>
            {{this.description}}
          </td>
          <td>
            {{this.createdAt}}
          </td>
          <td>
            {{this.updatedAt}}
          </td>
          <td>
            {{! EDIT }}
            <a href="/courses/{{this._id}}/edit">
              <i class="fas fa-pen icon"></i>
            </a>
            {{! DELETE }}
            <a
              data-toggle="modal"
              data-target="#deleteCourseModal"
              data-id={{this._id}}
              data-name="{{this.name}}"
            >
              <i class="fas fa-trash-alt icon"></i>
            </a>
          </td>
        </tr>
        
        {{else}}
        <tr>
          <td colspan='6' style="text-align: center;">
            No course to show.
            <a href="/courses/create"> Click me to create new course</a>
            </td>
        </tr>

        {{/each}}
      </tbody>
    {{!  }}
  </table>
</div>

{{! MODAL CONFIRM DELETE }}
<div class="modal" tabindex="-1" role="dialog" id="deleteCourseModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          WARNING DELETE
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </div>
      {{!  }}
      <div class="modal-body">
        <p>
          Do you want to delete course
          <span class="font-weight-bold"></span>
          ?
        </p>
      </div>
      {{!  }}
      <div class="modal-footer">
        <form method="POST" action="abc" id="deleteForm">
          <input type="submit" class="btn btn-danger" value="Delete">
          </input>
        </form>
        {{!  }}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

{{!  }}
<script>
  document.addEventListener('DOMContentLoaded',()=>{
    
    $('#deleteCourseModal').on('show.bs.modal', event => {
        var button = $(event.relatedTarget) 
        var id = button.data('id')
        var name = button.data('name')
        var form=$('#deleteForm')

        form.attr('action',`/courses/${id}?_method=DELETE`)
        $('.modal-body p span').text(' '+name)
      })

    
  })
</script>